html {
  background-color: white;
}
#templates {
  display: none;
}
#nav .pure-menu .actions {
  text-align: center;
}
#main > * {
  padding: 1em;
}
textarea {
  font-family: monospace;
  font-size: .7em;
}
.pure-form select {
  padding: 0 .5em;
}
#keysList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#keysList li {
  padding: .5em 1em;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
#keysList li:nth-of-type(2n+1) {
  background-color: #EEE;
}
.keyDetail dt {
  float: left;
  margin: 0 1em 0 0;
  text-align: right;
  vertical-align: middle;
  width: 8em;
  font-weight: bold;
}
.keyDetail dd {
  margin-left: 9em;
}
.keyDetail pre {
  font-family: monospace;
  font-size: .7em;
}
.keyDetail [name=photo] {
  float: right;
}
.closed + * {
  display: none;
}

.signForm .onSign,
.signForm .onEncrypt,
.signForm .onFull,
.signForm .onVerify,
.signForm .onDecrypt {
  display: none;
}
.signForm[data-type="sign"] .onSign {
  display: inherit;
}
.signForm[data-type="encrypt"] .onEncrypt {
  display: inherit;
}
.signForm[data-type="full"] .onFull {
  display: inherit;
}
.signForm[data-type="verify"] .onVerify {
  display: inherit;
}
.signForm[data-type="decrypt"] .onDecrypt {
  display: inherit;
}
