html {
  background-color: #F8F8F8;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
#templates {
  display: none;
}
#nav .pure-menu .actions {
  text-align: center;
}
#nav .pure-menu-link {
  color: #FFF;
}
#main > * {
  padding: 1em;
}
textarea {
  font-family: monospace;
  font-size: .7em;
}
.pure-form select {
  padding: 0 .5em;
}
#keysList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#keysList li {
  padding: .5em 1em;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
#keysList li.private {
  font-weight: bold;
}
#keysList li a {
  display: block;
}
#keysList li:nth-of-type(2n+1) {
  background-color: #DDD;
}
#keysList li:hover {
  color: #111;
  background-color: #FCB;
}
.keyDetail .actions input {
  margin-right: 1em;
  margin-bottom: .5em;
}
.keyDetail dt {
  font-weight: bold;
}
.keyDetail dd {
  margin-left: 0;
}
@media (min-width: 40em) {
  .keyDetail dt {
    float: left;
    margin: 0 1em 0 0;
    text-align: right;
    vertical-align: middle;
    width: 8em;
    font-weight: bold;
  }
  .keyDetail dd {
    margin-left: 9em;
  }
}
.keyDetail pre {
  font-family: monospace;
  font-size: .7em;
}
.keyDetail [name=photo] {
  float: right;
}
.closed + * {
  display: none;
}

.signForm .onSign,
.signForm .onEncrypt,
.signForm .onFull,
.signForm .onVerify,
.signForm .onDecrypt {
  display: none;
}
.signForm[data-type="sign"] .onSign {
  display: inherit;
}
.signForm[data-type="sign"] input.onSign {
  display: inline-block;
}
.signForm[data-type="encrypt"] .onEncrypt {
  display: inherit;
}
.signForm[data-type="encrypt"] input.onEncrypt {
  display: inline-block;
}
.signForm[data-type="full"] .onFull {
  display: inherit;
}
.signForm[data-type="full"] input.onFull {
  display: inline-block;
}
.signForm[data-type="verify"] .onVerify {
  display: inherit;
}
.signForm[data-type="verify"] input.onVerify {
  display: inline-block;
}
.signForm[data-type="decrypt"] .onDecrypt {
  display: inherit;
}
.signForm[data-type="decrypt"] input.onDecrypt {
  display: inline-block;
}
#message {
  display: none;
  position: fixed;
  top: 0;
  left: 9em;
  width: calc(100% - 9em);
  letter-spacing: normal;
  padding: .5em;
  z-index: 1;
  color: white;
  font-weight: bold;
}
#message[data-level='info'] {
  background: #08F;
}
#message[data-level='warning'] {
  background: #F80;
}
#message[data-level='error'] {
  background: #F00;
}
#message.active {
  display: block;
}
@media (max-width: 40em) {
  #list:not(.active), #main:not(.active) {
    display: none;
  }
  #remotestorage-widget {
    top: 3em !important;
  }
  #message {
    position: absolute;
    top: 2.5em;
    left: 0;
    width: 100%;
  }
}
